/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/Answer.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/* HTML: <div class="loader"></div> */
#loader {
  width: calc(30px / cos(45deg));
  height: 7px;
  background: repeating-linear-gradient(-45deg, #ffffff 0 15px, #0000 0 20px)
    left/200% 100%;
  animation: l3 2s infinite linear;
}
@keyframes l3 {
  100% {
    background-position: right;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/markdownDisplay.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.markdown-body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  font-weight: bolder;
}

